.profile-container {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/coffee.jpg);
    width: auto;
    height: 600px;
    text-align: center;
    align-items: center;
    cursor: default;
    color: var(--main-color);
}

.profile-header {
    margin: 20px;
    padding: 30px;
    font-size: 54px;
}

.profile-logo {
    font-size: 72px;
    margin: 0;
    padding: 30px;
}

.profile-desc {
    margin: 0;
    width: 80vw;
    font-size: 16px;
    padding: 30px 60px 30px 60px;
}

@media only screen and (max-width: 1320px) {
    .profile-container {
        padding: 0 50px;
    }

    .profile-header {
        font-size: 46px;
    }
    
    .profile-logo {
        font-size: 64px;
    }
    
    .profile-desc {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1024px) {
    .profile-container {
        padding: 0 30px;
    }

    .profile-header {
        font-size: 42px;
    }
    
    .profile-logo {
        font-size: 60px;
    }
    
    .profile-desc {
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    .profile-container {
        padding: 0 10px;
    }

    .profile-header {
        font-size: 38px;
    }
    
    .profile-logo {
        font-size: 56px;
    }
    
    .profile-desc {
        font-size: 12px;
    }
}

@media only screen and (max-width: 384px) {
    .profile-container {
        padding: 0 50px;
    }
    
    .profile-header {
        font-size: 32px;
    }
    
    .profile-logo {
        font-size: 54px;
    }

    .profile-desc {
        font-size: 12px;
    }
}